@import '../../shared.scss';

.my-classes-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
}

.select-view {
  display: flex;
  border: 0.1rem solid $blue;
  border-radius: 1.2rem;
  padding: 0.5rem 1rem;
  width: 200px;
  background: white;
  margin: 0 auto;
  select {
    margin-left: 0.5rem;
    border: none;
    background: transparent;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
}

.by-day{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
