@import "../../shared.scss";

.my-classes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: .5rem;
  &__header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-items: center;
    gap: 1rem;
  }
}

.select-view {
  display: flex;
  border: 0.1rem solid $blue;
  border-radius: 1.2rem;
  padding: 0.5rem 1rem;
  width: 235px;
  background: white;
  margin: 0 auto;
  select {
    margin-left: 0.5rem;
    border: none;
    background: transparent;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
}

.create-button {
  margin: .5rem 1rem;
}

.by-day {
  margin-bottom: 1rem;
  h2 {
    justify-self: start;
  }
  &__time {
    display: grid;
    justify-items: center;
    row-gap: 2rem;
  }
}

.class-templates-container {
  display: grid;
  justify-items: center;
  row-gap: 2rem;
  margin: 1rem 0;
}

.template {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: .8em;
  box-shadow: 0 2px 4px 1px $card;
  gap: 0.2em;
  height: fit-content;
  max-width: 400px;
  cursor: pointer;
  margin: 0 1rem;
  &__title {
    margin: .4em;
    font-size: 1.6em;
    text-align: center;
    color: $blue;
  }
  &__image {
    width: 100%;
    height: 100%;
    border-radius: 0 0 .8em .8em;
  }
}

.recordings-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem 0;
  &__view {
    display: flex;
    justify-content: center;
    color: $blue;
    input {
      margin: 0 0.5rem;
    }
  }
  &__videos {
    display: grid;
    justify-items: center;
    gap: 2rem;
    margin: 1rem 0;
  }
}

.choices {
  display: flex;
  &__opt{
    margin: 0 2rem;
  }
}

.recording-container {
  border-radius: 1.2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  color: $blue;
  background: white;
  display: flex;
  flex-direction: column;
  row-gap: .5rem;


  video {
    width: 100%;
    height: 100%;
    border-radius: 0.4em;
  }
}

