@import "../../shared.scss";

.sign-up-form {
  width: 90%;
  padding: 1rem;
  background-color: $card;
  border-radius: 0.4rem;
  margin: 2rem auto;
  &__group {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 1rem;
  }
}

.instructor-answers {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  &__opt {
    input {
      margin-right: 0.5rem;
    }
  }
}

.disclaimer {
  font-size: 13px;
  text-align: center;
}

.text {
  color: $white;
}
