@import '../../shared.scss';

.default-mobile-layout {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #fff;
    &__header, &__footer {
      padding: .75rem;
      display: grid;
      place-items: center;
    }
    &__content {
      position: relative;
      overflow-y: auto;
      display: grid;
      grid-template-rows: 1fr auto;
    }
}
