/* loader.css */
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  position: relative; 

}

.moving-logo {
  // border: 3px solid rgba(0, 35, 102,.89);
  border-radius: 20%;
  width: 50px;
  height: 50px;
  position: absolute; 
  animation: spin 6s linear infinite;
}

@keyframes spin {
  0% {
      transform: translate(50px, 0px); /* Start on the right */
  }
  25% {
      transform: translate(0px, 50px); /* Move to the bottom */
  }
  50% {
      transform: translate(-50px, 0px); /* Move to the left */
  }
  75% {
      transform: translate(0px, -50px); /* Move to the top */
  }
  100% {
      transform: translate(50px, 0px); /* Back to the start */
  }
}

p {
  margin-top: 90px;
  font-size: 16px;
}

.logo-container {
  position: relative; 
  width: 200px; 
  height: 200px; 
  top: 50px;  
  left:73px; 
}

.dot {
  opacity: 0;
  animation: dots 1.5s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.5s;
}

.dot:nth-child(3) {
  animation-delay: 1s;
}

@keyframes dots {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 5;
  }
  100% {
      opacity: 5;
  }
}

