@import '../shared.scss';

.search {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2%;
  place-items: center;
  background: $blue;
  padding: .5rem;
  border-radius: 50px;
  &__select, &__input{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 50px;
    select, input {
      border: none;
      outline: none;
    }
  }
  &__select{
    padding: 5px 10px;
    select {
      padding: 0 5px;
    }
  }
  &__input {
    padding: 5px 15px;
    input {
      width: 100%;
      font-size: 16px;
      background: transparent;
      &::placeholder {
        color: #aaa;
      }
    }
  }
}

.trash-icon{
  cursor: pointer;
  font-size: 1.1rem;
}
