@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

.brand {
  display: flex;
  align-items: center;
  column-gap: 15px;
  font-family: 'Rampart One', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 10px;
  img {
    width: 50px;
    height: 50px;
  }
}
