@import '../../../shared.scss';


.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    background-color: $blue;
    &__text {
        color: $white;
        margin: auto 0;
    }

    &__link {
        text-decoration: none;
    }

    &__icon {
        color: $white;
        cursor: pointer;
    }
}
