.search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 4% 2%;
    position: relative;
    width: 100%;
    max-width: 95vw;
}

.searchInputs {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f7f7f7;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.searchInputs input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
}

.searchInputs input::placeholder {
    color: #aaa;
}

.searchInputs button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.searchInputs svg {
    font-size: 20px;
    color: #555;
}

.filterButton {
    background-color: #333;
    border:none;
    cursor:pointer;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
}

.filterButton svg {
    font-size:24px;
    color: white;
    line-height: 1;
}