@import '../../shared.scss';


.lectures {
    display: flex;
    flex-direction: column;
    gap: 2%;
    padding: 2%;

    &__title {
        color: $blue;
        background: white;
        width: fit-content;
        padding: 0 1rem;
    }

    &__students-grid {
        height: fit-content;
        place-items: center;
        padding-bottom: 2%;
        row-gap: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 200px);
        overflow-y: scroll;
        scrollbar-width: none;
    }
}

.student-grid-center{
  justify-content: center;
}

.join-button {
  margin-left: 1rem;
  height: 50px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert {
    color: $orange;
    padding: 0;
}
