@import "../../shared.scss";

.forum-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.forum-container-desktop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 3rem;
  min-width: 920px;
  max-width: 1400px;
  margin: 0 auto;
}

.main-content {
  &__forum {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 430px;
  }
}

.forum-position {
  position: sticky;
  top: 2%;
}

.forum-container {
  padding: 1rem;
  &__back {
    width: 100%;
    button {
      display: flex;
      align-items: center;
      padding: 0.1rem 1rem;
      border-radius: 0.5rem;
      background-color: $orange;
      color: $white;
      font-size: 1.2rem;
      border: none;
      cursor: pointer;
    }
  }
}

.reply-input {
  display: flex;
  align-items: center;
  gap: 1rem;
  textarea {
    flex: 1;
    height: 90px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid $white;
    resize: none;
  }
  button {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: $orange;
    color: $white;
    border: none;
    cursor: pointer;
  }
}

.forum-responses {
  max-width: 430px;
  &__title {
    color: $blue;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__more {
    display: flex;
    justify-content: center;
    p {
      color: $orange;
      cursor: pointer;
    }
  }
}

.response-card {
  border-top: 0.1rem solid $white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background: white;
  &__user {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  &__resp {
    padding: 0 1rem;
    color: $blue;
  }
  &__more {
    display: flex;
    justify-content: flex-end;
  }
}

.response-page-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__back {
    button {
      display: flex;
      align-items: center;
      padding: 0.1rem 1rem;
      border-radius: 0.5rem;
      background-color: $orange;
      color: $white;
      font-size: 1.2rem;
      border: none;
      cursor: pointer;
    }
  }
  &__responses {
    padding: 0 1rem;
  }
  &__more {
    display: flex;
    justify-content: center;
    p {
      color: $orange;
      cursor: pointer;
    }
  }
}
