@import '../../shared.scss';

.forums-container-mobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 350px;
}

.forums-container-desktop {
  position: relative;
  max-width: 1200px;
  min-width: 925px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 5rem;
  &__main {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
  }
  &__community {
    position: sticky;
    top: 20%;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
}

.forums-container {
  padding: 1rem;
  &__community {
    border-radius: 1.2rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    background: $orange;
    color: $white;
  }
  &__main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.forum-card {
  min-width: 400px;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1.2rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  &__user {
    display: flex;
    gap: .5rem;
    align-items: center;
    img {
      object-fit: cover;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    };
  }
  &__post{
    padding: 0 1rem;
    color: $blue;
  }
  &__more{
    display: flex;
    justify-content: flex-end;
  }
}

.forum-link {
  text-decoration: none;
  color: $orange;
}

.post-input {
  display: flex;
  gap: 1rem;
  input {
    flex: 1;
    padding: .5rem;
    border-radius: .5rem;
    border: .1rem solid $white;
  }
  button {
    display: flex;
    align-items: center;
    padding: .5rem;
    border-radius: .5rem;
    background-color: $orange;
    color: $white;
    border: none;
    cursor: pointer;
  }
}
