@import '../../shared.scss';

.class-page-container {
  color: $blue;
  min-width: 300px;
}

.class-page-main {
  background: white; 
  padding: 1rem 0;
  &__class {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__classes {
    h3 {
      margin: 0 1rem;
    }
  }
}

.class-page-main-mobile {
  max-width: 430px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.class-page-main-desktop {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
  &__class {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    padding-left: 1rem;
    max-width: 430px;
  }
  &__instructor {
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
    display: grid;
    place-items: center;
    max-width: 430px;
  }
  &__classes {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
  }
}

.class-info-container {
  padding: 0 1rem;
  h1 {
    text-align: center;
  }
}

.book-class-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  &__select-menu {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    select {
      border-radius: .4em;
      padding: 0.3rem;
      background-color: $white;
      border-radius: .4em;
      max-width: 200px;
    }
  }
}

.instructor-info-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
  margin: 0 1rem;
  &__image {
    display: flex;
    justify-content: center;
    img {
      width: 150px;  
      height: 150px;  
      border-radius: 50%;  
      object-fit: cover;  
      border: 2px solid $white;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    p {
      padding: 0 1rem;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
  }
}

.more-classes-container {
  display: flex;
  padding: .5rem;
  overflow-x: scroll;
}
