@import '../../../shared.scss';

.conference-room {
    width: 100%;
    padding: 2%;
    background-color: #fff;
    max-height: 400px;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 4%;

    &__host {
        width: 100%;
        max-height: 210px;
        margin-bottom: 2%;
    }

    &__guest{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
        gap: 20px;
    }

    &__portrait-guests {
        position: fixed;
        display: flex;
        align-items: center;
        gap: 50px;
        padding: 2%;
        max-width: 100vw;
        bottom: 10vh;
        left: 0;
        overflow-x: scroll;
        scrollbar-width: none;
    }

    &__landscape-guests {
        width: 12vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        height: 75vh;
        overflow-y: scroll;
        scrollbar-width: none;
        margin-right: 4px;
    }
   
}



.conference-room-landscape , .conference-room-portrait{
    position: fixed;
    background-color: #242424;
    width: 100vw;
    top: 0;
    left: 0;
    border-radius: 0;
    max-height: none;
    overflow-y: hidden;
}

.conference-room-portrait {
    height: 92vh;
    flex-direction: column;
}

.conference-room-landscape {
    height: 82vh;
    flex-direction: row;
}

