@import '../../../shared.scss';

.conference-room {
    width: 95vw;
    padding: 2%;
    background-color: #fff;
    max-height: 400px;
    overflow-y: scroll;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 4%;

    &__host {
        width: 100%;
        max-height: 210px;
        margin-bottom: 20px;
    }

    &__wide-gap {
        margin-bottom: 35%;
    }

    &__guest{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
        gap: 20px;
    }

    &__portrait-guests {
        position: fixed;
        display: flex;
        padding: 2%;
        max-width: 100vw;
        bottom: 12vh;
        left: 0;
        overflow-x: scroll;
        scrollbar-width: 1px;
        scrollbar-color: $white $white;
        scroll-snap-type: proximity;
    }

    &__landscape-guests {
        position: fixed;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, 20vh);
        top: 2%;
        right: 1%;
        max-height: 75vh;
        overflow-y: scroll;
        scrollbar-width: none;
    }
   
}

.conference-room-overlay {
    position: fixed;
    background-color: #242424;
    top: 0;
    left: 0;
    height: 92vh;
    width: 100vw;
    max-height: none;
    border-radius: 0;
    overflow-y: hidden;
}