@import '../../../shared.scss';

.menu-holder {
    width: 100vw;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    align-items: center;
    padding: 2%;
    background-color: $card;
    border: 2px $blue solid;
    border-radius: .3em;
    gap: 10px;

    &__fullscreen-portrait, &__fullscreen-landscape {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        background-color: $blue;
    }

    &__fullscreen-portrait {
        height: 8vh;
    }

    &__fullscreen-landscape {
        height: 18vh;
    }
}

.menu-options-head {
    display: flex;
    border-right: 2px solid $white;
    padding-right: 2%;
    gap: 8px;

    &__audio, &__video {
        display: flex;
        flex-direction: column;
        padding: 4px;
        gap: 5px;
        align-items: center;
        cursor: pointer;
    }
}

.menu-options {
    display: flex;
    align-items: center;
    gap: 15px;

    &__container {
        display: flex;
        flex-direction: column;
        padding: 4px;
        gap: 5px;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
    }

    &__icon {
        color: #fff;
        margin: 0 2px;
    }

    &__label {
        align-self: flex-start;
        color: $white;
    }

    &__count {
        color: $white;
    }
    
}