@import '../../../shared.scss';

.menu-holder {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    align-items: center;
    padding: 2%;
    border: 2px $grey;
    border-style: solid solid solid solid ;
    border-radius: .3em;
    gap: 6px;
}

.menu-options-head {
    display: flex;
    border-right: 2px solid $blue;
    padding-right: 2%;
    gap: 4px;

    &__audio {

    }

    &__video {

    }
}

.menu-options {
    display: flex;
    align-items: center;
    gap: 15px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
    }

    &__icon {
        color: $blue;
    }

    &__label {
        align-self: flex-start;
        color: $blue;
    }

    &__button {
        padding: 1% 2%;
        border-radius: 1em;
        cursor: pointer;
        background-color: $blue;
        color: $white;
    }
}