@import '../../../shared.scss';

.webcam {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .8em;
    gap: 10px;

    &__guest {
       height: 150px;
    }

    &__video {
        height: 100%;
        width: 100%;
        object-fit: fill;
        border-radius: .8em;
    }

    &__name {
        position: absolute;
        left: 4%;
        bottom: 4%;
        font-size: 1.2em;
        color: $white;
    }

    &__muted {
        position: absolute;
        left: 4%;
        top: 4%;
        font-size: 1.4em;
        color: red;
    }

    
    &__fullscreen-portrait {
        margin-top: 15%;
        max-height: 400px;
        height: 300px;
        width: 100vw;
        border-radius: 0 !important;
        object-fit: fill;
    }
    
    &__fullscreen-landscape {
        margin-left: calc(50% - 30%);
        height: 300px;
        max-width: 500px;
    }
    
    &__mini {
        height: 20vh;
        width: 10vw;
        border-radius: .8em;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
   
}

.landscape-name-host, .landscape-muted-host {
    left: 22%;
    bottom: 6%;
}

.landscape-name-guest, .landscape-muted-guest {
    font-size: .8em;
}

.portrait-muted-host {
    top: 14%;
}

.mini-portrait {
    height: 15vh;
    width: 25vw;
}

.mini-name {
    bottom: 12%;
}