@import '../../../shared.scss';

.webcam {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .8em;
    gap: 10px;

    &__guest {
       height: 150px;
    }

    &__host {
        height: 80vh;
        max-height: 200px;
    }
   
    &__video {
        height: 100%;
        width: 100%;
        object-fit: fill;
        border-radius: .8em;
    }

    &__name {
        position: absolute;
        left: 4%;
        bottom: 2%;
        font-size: 1.2em;
        color: $white;
    }
    
    &__fullscreen {
        position: absolute;
        top: 0;
        left: 0;
        height: 92vh;
        width: 100vw;
        border-radius: 0;
        object-fit: cover;
        object-position: center;
    }

    &__mini {
        position: absolute;
        height: 20vh;
        width: 20vh;
        bottom: 0;
        right: 0;
        border: 2px solid $blue;
        margin-bottom: 10vh;
        margin-right: 2vh;
    }

    &__image {
        max-width: 100%;
        max-height: 100%;
        background-color: $blue;
    }
}

