@import '../../../shared.scss';

.webcam {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .8em;
    gap: 10px;

    &__guest {
       height: 150px;
    }

    &__host {
        max-height: 80vh;
    }

   
    &__video {
        height: 220px;
        border-radius: .8em;
    }

    &__name {
        font-size: 1.2em;
    }
}

.fullscreen {
    height: 100vh;
    width: 100vw;
    z-index: 2;
    border: 2px solid red;
}
