@import '../../shared.scss';

// * {
//     width: 430px;
// }
// Need to add: Settings button needs to have, edit profile, change password, sign out, delete user, become an instructor

.userPage-container {
    max-height: 100%;
    max-width: 100vw;
}

.banner {
    display: flex;
    z-index: 1;
    position: relative;
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.profile-picture-container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 80px;
    width: 160px;
    // border: 2px solid green;
}

.profile-picture {
    // border: 2px solid black;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: -90px;
    border: 2px solid white;
    width: 160px;
}

.userPage-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    // border: 2px solid blue;
    border-bottom: 2px solid lightgray;
    position: relative;
    z-index: 1;
}

.userPage-bio {
    width: 86%;
    text-align: center;
}

.userPage-socials {
    display: flex;
    gap: 6px;
    cursor: pointer;
    padding : 10px;
    padding-top: 0px;
    padding-bottom: 12px;
    align-items: center;
    justify-content: center;

}

.userPage-videos {
    border-bottom: 2px solid lightgray;
    padding-bottom: 12px;
}

.video-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin: 8px;
    padding: 12px;
}

.videos_buttons {
    display: flex;
    justify-content:space-evenly;
    gap: 12px;
    // border: 2px solid green;
    width: 192px;
    height: 46px;
}


.videos-upload_button {
    border: 2px solid $blue;
    outline: none;
    cursor: pointer;
    padding: 2% 6%;
    border-radius: .6em;
    background-color: $blue;
    color: $white;
    text-decoration: none;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 0 .6rem .2rem $orange-faded;
    }
    &:active {
        transform: translateY(2px);
        background-color: $blue-faded;
        box-shadow: none;
    }
}

.videos-edit_button {
    border: 2px solid $blue;
    outline: none;
    cursor: pointer;
    padding: 2% 4%;
    border-radius: .6em;
    background-color: $orange;
    color: $white;
    text-decoration: none;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 0 .6rem .2rem $grey;
    }
    &:active {
        transform: translateY(2px);
        background-color: $orange-faded;
        box-shadow: none;
    }
}

.reviews-container {
    padding: 12px;
    overflow-y: hidden;


}

.review1 {
    border: 2px solid lightgrey;
    border-radius: 10px;
    padding: 20px;
    height: 180px;
    width: 180px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;


    &__review {
        overflow: auto;
    
    }
}


.review2 {
    border: 2px solid lightgrey;
    border-radius: 10px;
    padding: 20px;
    height: 180px;
    width: 180px;
    flex-shrink: 0;
    overflow: hidden;
}

.review3 {
    border: 2px solid lightgrey;
    border-radius: 10px;
    padding: 20px;
    width: 180px;
    height: 180px;
    flex-shrink: 0;
    overflow: hidden;
}

.review4 {
    border: 2px solid lightgrey;
    border-radius: 10px;
    padding: 20px;
    width: 180px;
    height: 180px;
    flex-shrink: 0;
    overflow: hidden;
}

.reviews-all {
    display: flex;
    max-width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    text-overflow: ellipsis;

}


.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 6px;
}

.settings {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(182,182,182,0.86);
    // rgba(13, 14, 13, 0.7)
    
    top: 0;
    left: 0;

    &__card {
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 300px;
        // border: 2px solid red;
        background-color: rgba(255, 255, 255, 0.8); 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 20px;
        backdrop-filter: blur(10px); 
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: #333; /* Text color */
        
    }

    &__header {
        display: flex;
        font-size: 50px;
        justify-content: center;
        margin-bottom: 12px;
        margin-top: -2px;
    }

    &__buttons-container {
        // border: 2px solid green;
        height: 324px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
    }

    &__buttons {
        border: 2px solid $blue;
    outline: none;
    cursor: pointer;
    padding: 2% 4%;
    border-radius: .6em;
    background-color: $blue;
    color: $white;
    text-decoration: none;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 0 .6rem .2rem $orange-faded;
    }
    &:active {
        transform: translateY(2px);
        background-color: $blue-faded;
        box-shadow: none;
    }
    }
}


.signout_button {
    border: 2px solid $blue;
    outline: none;
    cursor: pointer;
    padding: 2% 4%;
    border-radius: .6em;
    background-color: $orange;
    color: $white;
    text-decoration: none;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 0 .6rem .2rem $grey;
    }
    &:active {
        transform: translateY(2px);
        background-color: $orange-faded;
        box-shadow: none;
    }
}