
$orange: #FE5A1D;
$orange-faded: #fb7f52;
$white: #EFEFEF;
$footer: #cacaca;
$grey: #b6b6b6;
$blue: #002366;
$blue-faded: #1e4182e6;
$card: rgba(0, 35, 102,.5);

.button-orange {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2% 4%;
    border-radius: .4em;
    background-color: $orange;
    color: $white;
    text-decoration: none;

    &:active {
        transform: translateY(2px);
        background-color: $orange-faded;
        box-shadow: none;
    }
}

.button-blue {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2% 4%;
    border-radius: .4em;
    background-color: $blue;
    color: $white;
    text-decoration: none;

    &:active {
        transform: translateY(2px);
        background-color: $blue-faded;
        box-shadow: none;
    }
}

.button-large-orange {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3% 12%;
    border-radius: .4em;
    background-color: $orange;
    color: $white;
    text-decoration: none;

    &:active {
        transform: translateY(2px);
        background-color: $orange-faded;
        box-shadow: none;
    }
}

.button-large-blue {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3% 12%;
    border-radius: .4em;
    background-color: $blue;
    color: $white;
    text-decoration: none;

    &:active {
        transform: translateY(2px);
        background-color: $blue-faded;
        box-shadow: none;
    }
}

.loading {
  color: $blue;
  display: grid;
  place-items: center;
}
