
$orange: #FE5A1D;
$orange-hover: #fb7f52;
$white: #EFEFEF;
$footer: #cacaca;
$grey: #b6b6b6;
$blue: #002366;
$blue-hover: #1e4182e6;
$card: rgba(0, 35, 102,.89);

.button-orange {
    border: 2px solid $blue;
    outline: none;
    cursor: pointer;
    padding: 2% 4%;
    border-radius: .6em;
    background-color: $orange;
    color: $white;
    text-decoration: none;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 0 .6rem .2rem $blue-hover;
    }
    &:active {
        transform: translateY(2px);
        background-color: $orange-hover;
        box-shadow: none;
    }
}

.button-blue {
    border: 2px solid $blue;
    outline: none;
    cursor: pointer;
    padding: 2% 4%;
    border-radius: .6em;
    background-color: $blue;
    color: $white;
    text-decoration: none;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 0 .6rem .2rem $orange-hover;
    }
    &:active {
        transform: translateY(2px);
        background-color: $blue-hover;
        box-shadow: none;
    }
}

.button-large-orange {
    border: 2px solid $blue;
    outline: none;
    cursor: pointer;
    padding: 3% 12%;
    border-radius: .6em;
    background-color: $orange;
    color: $white;
    text-decoration: none;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 0 .6rem .2rem $blue-hover;
    }
    &:active {
        transform: translateY(2px);
        background-color: $orange-hover;
        box-shadow: none;
    }
}

.button-large-blue {
    border: 2px solid $blue;
    outline: none;
    cursor: pointer;
    padding: 3% 12%;
    border-radius: .6em;
    background-color: $blue;
    color: $white;
    text-decoration: none;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 0 .6rem .2rem $orange-hover;
    }
    &:active {
        transform: translateY(2px);
        background-color: $blue-hover;
        box-shadow: none;
    }
}